<% include header %>
	
	<script type="text/javascript" src="/socket.io/socket.io.js" ></script>
	<div id="wrapper">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<div class="span8">
							<div class="row">
								<div class="span8">
									<div class="room">
										
									</div>
								</div>
							</div>
						</div>
						<div class="span4">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var socket=io.connect();
	</script>
<% include footer %>