<!DOCTYPE>
<html>
	<head>
		<title>桌面</title>
		<script type='text/javascript' src="js/jquery-1.7.1.min.js" ></script>
		<script type="text/javascript" src='js/jquery.wookmark.js'></script>
		<style>
			#rooms{
				position: relative;
			}

			#rooms .room{
				display:inline;
				width:200px;
				height:150px;
				background-color: #ffffff;
				border: 1px solid #dedede;
				border-radius: 2px;
				display: none;
				cursor: pointer;
				padding: 4px;
			}
		</style>
	</head>
	<body>
		<div id='container'>
			<div id='header'>
			</div>
			<div id='rooms'>
				<div class='room'>
					<div>
						房间1 ，房间二，房间三
					</div>
				</div>
				<div class='room'>
					<div>
						房间1 ，房间二，房间三
					</div>
				</div>
				<div class='room'>
					<div>
						房间1 ，房间二，房间三
					</div>
				</div>
				<div class='room'>
					<div>
						房间1 ，房间二，房间三
					</div>
				</div>
				<div class='room'>
					<div>
						房间1 ，房间二，房间三
					</div>
				</div>
				<div class='room'>
					<div>
						房间1 ，房间二，房间三
					</div>
				</div>
				<div class='room'>
					<div>
						房间1 ，房间二，房间三
					</div>
				</div>
				<div class='room'>
					<div>
						房间1 ，房间二，房间三
					</div>
				</div>
			</div>
		</div>

		<script type='text/javascript'>
			$('#rooms .room').wookmark({
				autoResize: true,
				offset:2,
				container:$('#rooms')
			});
		</script>
	</body>
</html>