<form method="post">
	<input name="username" type="text" />
	<input name="password" type="password" />
	<input type="submit" value="登陆" />
</form>
<div>
	<%if(error){%>
		<%=error%>
	<%}%>
</div>